body{
    background : #b5ffe6;
}

h1{
	color: #00b300;
}

h2{
	color: #02f04e;
}

p{
	color: #00b300;
}

ul{
	color: #009c00;
}

h1{
font-family: 'Xanh Mono', monospace;
}

h2{
    font-family: 'Xanh Mono', monospace;
}

p{
	font-family: 'Crimson Text', serif;
}

ul{
	font-family: 'Crimson Text', serif;
}

img{
	width:300px;
}

















